* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  color: white;
}

header {
  background-color: #111;
  padding: 50px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-weight: bold;
}

.nav-links {
  font-size: 25px;
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.hero {
  background: url('pictures/book.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

.btn-outline {
  background-color: transparent;
  color: white;
}

.btn-filled {
  background-color: white;
  color: black;
  border: none;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 0px;
}

.custom-file-label:hover {
  background-color: #f0f0f0;
}

.file-section {
  margin-bottom: 20px; /* Abstand zwischen Datei-Button und den unteren Buttons */
  text-align: center;  /* damit der Button mittig bleibt */
}